.donate-container{
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
    // border: 2px solid teal;
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        color: #483949;
        line-height: 1.25em;
    }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
        border-bottom-color: transparent;
    }


    h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        font-weight: 600;
    }

    h2 {
        font-size: 2.2em;
        text-align: center;
    }

    h3 {
        font-size: 1.9em;
    }
    

    h4 {
        font-size: 1.5em;
        margin: 0 0 0.25em 0;
    }

    p{
        font-size: 1.6rem;
    }
}

.donate{
    display: flex;
    // border: 3px solid greenyellow;
}

img.blurry{
    display: flex;
    width: 100%;
    margin: 0 0 4em 0;
    padding-top: 2em;
}
header.top-header{
    // border: 2px solid lightblue;
    width: 150%;
    text-align: center;
    h2{
        font-size: 6em;
        color: whitesmoke;
        text-shadow: 4px 2px 4px black;
    }
    h3{
        font-size: 3em;
    }
}

.side-section{
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid red;
    width: 30%;
    padding: 0 3em 10em 3em;
    text-align: center;
    margin-top: 10em;
}

.col-1{
    width: 100%;
    // border: 2px dotted darkcyan;
    img{
        width: 100%;
    }
}

.top-section{
    // border: solid 2px royalblue;
    width: 70%;  
}

.donate{
    border-bottom: solid 1px grey;
    position: relative;
    margin-bottom: 4em;
    }

.donate:after {
    content: '';
    border-bottom: solid 1px grey;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: -6px;
}


.text-section{
    p{
        padding: 2.5em;
        font-size: 2em;
    }
    h3{
        font-size: 2.3em;
        font-weight: 600;
    }
}

h3 a{
    text-decoration: none;
    a:link{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    }
    a:hover{
        color: salmon;
        text-decoration: underline;
    }
}

button.donate-button {
    background-color: @contrast-red;
    font-size: 2rem;
    border-radius: 0.5em;
    padding: .50em .65em;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    color: @white;
    display: flex;
    justify-content: center;
    margin: 1em;
    a {
        color: @white;
        text-decoration: none;
        a:visited{
            text-decoration: none;
        }
    }
}

.btn-class{
    font-size: 4rem;
    color: red;
}

// hr{
//     border-bottom: 5px solid gray;
// }
