nav {
    display: flex;
    justify-content: space-evenly;

  }

  .header-container {
    background-image: url(imgages/food-pic.jpg);
    background-repeat: no-repeat;
    background-position: center center;

 }
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid blue;
  }

  
 
